{% extends "views/layout.html" %}


{% block content %}

<h1 class="text-center">Styles Catalog</h1>

<table class="table table-bordered table-stripped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Volume</th>
            <th>Beer Style</th>
        </tr>
    </thead>

    <tbody>
        {% for g in styles %}
            <tr>
                <td>{{ g.style }}</td>
                <td>{{ g.barrel_volume }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock  %}